<a href="https://colab.research.google.com/github/qmcnn/Data-Mining/blob/main/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# จุดประสงค์ เพื่อทำความเข้าใจว่าผู้โดยสารเรือกลุ่มไหนที่มีโอกาสเสียชีวิต

In [41]:
import pandas as pd
import numpy as np
titanic_data = pd.read_csv('/content/drive/MyDrive/Year4/Data Mining/ProjectMining/titanic.csv')
titanic_data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [4]:
titanic_data[['boat']]

     boat
0       2
1      11
2     NaN
3     NaN
4     NaN
...   ...
1304  NaN
1305  NaN
1306  NaN
1307  NaN
1308  NaN

[1309 rows x 1 columns]

In [5]:
titanic_data.shape

(1309, 14)

In [6]:
titanic_data.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [7]:
titanic_data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [8]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

# แทนค่า missing

In [44]:
# Lots of NaN values for age, but filling with median won't due. Is there a way to use other features to impute age better?
def age_df(df):
    # Calculate median age for each combination of 'Sex' and 'Pclass'
    median_age_by_group = df.groupby(['sex', 'pclass'])['age'].median().reset_index()

    # Iterate through rows in the DataFrame and fill missing age values
    for index, row in df.iterrows():
        if pd.isnull(row['age']):
            sex = row['sex']
            pclass = row['pclass']
            median_age = median_age_by_group[(median_age_by_group['sex'] == sex) & (median_age_by_group['pclass'] == pclass)]['age'].values[0]
            df.at[index, 'age'] = median_age
    return df
age_df(titanic_data)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,22.0000,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [45]:
titanic_data[titanic_data['fare'].isnull()]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1225,3,0,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S,NaN,261.0,NaN

In [46]:
titanic_data[(titanic_data['pclass'] == 1) & (titanic_data['sibsp'] == 0) & (titanic_data['parch'] == 0)]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
5,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,1,0,"Williams-Lambert, Mr. Fletcher Fellows",male,42.0,0,0,113510,35.0000,C128,S,NaN,NaN,"London, England"
319,1,1,"Wilson, Miss. Helen Alice",female,31.0,0,0,16966,134.5000,E39 E41,C,3,NaN,NaN
320,1,1,"Woolner, Mr. Hugh",male,42.0,0,0,19947,35.5000,C52,S,D,NaN,"London, England"
321,1,0,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S,NaN,NaN,"Halifax, NS"
322,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C,8,NaN,"New York, NY / Washington, DC"

In [47]:
median_fare = titanic_data.groupby(['pclass', 'parch', 'sibsp'])['fare'].median()[3][0][0]
median_fare

7.8542

In [48]:
titanic_data.loc[(titanic_data['pclass'] == 3) & (titanic_data['parch'] == 0) & (titanic_data['sibsp'] == 0), 'fare'] = median_fare

In [49]:
titanic_data[titanic_data['fare'].isnull()]

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

In [51]:
import random

def cabin_df(df):
    # First replace the first letter of Cabin for the new deck column
    df['Cabin'] = df['cabin'].apply(lambda x: x[0] if pd.notnull(x) else 'Z')
    # Drop the cabin feature now
    df.drop('cabin', axis=1, inplace=True)

    df['Cabin'] = df['Cabin'].replace(['A', 'B', 'C', 'T'], 'ABC')
    df['Cabin'] = df['Cabin'].replace(['D', 'E'], 'DE')
    df['Cabin'] = df['Cabin'].replace(['F', 'G'], 'FG')

    # Impute that if Pclass 1, and missing your Cabin, then Put randomly between two deck groups
    mask = (df['Cabin'] == 'Z') & (df['pclass'] == 1)
    df.loc[mask, 'Cabin'] = random.choice(['ABC', 'DE'])

    # Impute that if Pclass 3, and missing your Cabin, then put in FG group
    mask = (df['Cabin'] == 'Z') & (df['pclass'] == 3)
    df.loc[mask, 'Cabin'] = 'FG'

    # Impute that if Pclass 2, and missing your Cabin, then Put randomly between two deck groups
    mask = (df['Cabin'] == 'Z') & (df['pclass'] == 2)
    df.loc[mask, 'Cabin'] = random.choice(['DE', 'FG'])

cabin_df(titanic_data)

In [53]:
titanic_data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked,boat,body,home.dest,Cabin
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,S,2,NaN,"St Louis, MO",ABC
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,S,11,NaN,"Montreal, PQ / Chesterville, ON",ABC
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",ABC
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",ABC
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",ABC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,C,NaN,328.0,NaN,FG
1305,3,0,"Zabour, Miss. Thamine",female,22.0000,1,0,2665,14.4542,C,NaN,NaN,NaN,FG
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.8542,C,NaN,304.0,NaN,FG
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.8542,C,NaN,NaN,NaN,FG
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8542,S,NaN,NaN,NaN,FG

In [55]:
titanic_data['Cabin']

0       ABC
1       ABC
2       ABC
3       ABC
4       ABC
       ...
1304     FG
1305     FG
1306     FG
1307     FG
1308     FG
Name: Cabin, Length: 1309, dtype: object

In [56]:
titanic_data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
embarked        2
boat          823
body         1188
home.dest     564
Cabin           0
dtype: int64

In [57]:
titanic = titanic_data[['pclass', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'Cabin', 'survived']]
titanic

      pclass     sex      age  sibsp  parch  ticket      fare Cabin  survived
0          1  female  29.0000      0      0   24160  211.3375   ABC         1
1          1    male   0.9167      1      2  113781  151.5500   ABC         1
2          1  female   2.0000      1      2  113781  151.5500   ABC         0
3          1    male  30.0000      1      2  113781  151.5500   ABC         0
4          1  female  25.0000      1      2  113781  151.5500   ABC         0
...      ...     ...      ...    ...    ...     ...       ...   ...       ...
1304       3  female  14.5000      1      0    2665   14.4542    FG         0
1305       3  female  22.0000      1      0    2665   14.4542    FG         0
1306       3    male  26.5000      0      0    2656    7.8542    FG         0
1307       3    male  27.0000      0      0    2670    7.8542    FG         0
1308       3    male  29.0000      0      0  315082    7.8542    FG         0

[1309 rows x 9 columns]

# model

# decision tree

In [60]:
# Import libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
# 1. โหลดและจัดรูปแบบข้อมูล

# 2. แบ่งข้อมูล
X = titanic[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare']]  # ตัวแปรอิสระ
y = titanic['survived']  # ตัวแปรตาม

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# สร้าง LabelEncoder
label_encoder = LabelEncoder()

# ใช้ LabelEncoder ในการแปลงคอลัมน์ 'Sex' เป็นตัวเลข
X_train['sex'] = label_encoder.fit_transform(X_train['sex'])
X_test['sex'] = label_encoder.transform(X_test['sex'])

# 3. สร้างโมเดล Decision Tree
decision_tree = DecisionTreeClassifier(random_state=42)

# 4. ปรับพารามิเตอร์และความซับซ้อนของโมเดล (ถ้าต้องการ)

# 5. สร้างโมเดลและฝึก
decision_tree.fit(X_train, y_train)

# 6. ทดสอบโมเดล
y_pred = decision_tree.predict(X_test)

# คำนวณความแม่นยำ
accuracy = accuracy_score(y_test, y_pred)
print("ความแม่นยำของ Decision Tree Model:", accuracy)

ความแม่นยำของ Decision Tree Model: 0.7557251908396947

In [63]:
from sklearn.metrics import accuracy_score, classification_report
# Generate a classification report
classification_rep = classification_report(y_test, y_pred)
print(f"Classification Report:\n{classification_rep}")

Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.85      0.79       144
           1       0.78      0.64      0.70       118

    accuracy                           0.76       262
   macro avg       0.76      0.75      0.75       262
weighted avg       0.76      0.76      0.75       262

In [ ]:
from sklearn.tree import plot_tree

plot_tree(decision_tree)